
.title {
  
  font-size: var(--size-5);
  margin: var(--size-4) 0;
  color: var(--color-grey-50);
}

.text {
  font-size: var(--size-3);
  color: var(--color-grey-50 );
  width: 90%;
  max-width: 40rem;
  padding-bottom: 20px;
  margin: auto;
}
.heroSection {
   position: absolute;
  bottom: -109px;
  left: 8%
}
.cover {
  background-image: linear-gradient(45deg,   var(--color-primary-200)  0%, #096fb9 100%);
  position: relative;
  height: 440px;
   padding: 40px;
 
}

 
.coverz {
 
} 
 
.coverx {
  background-image: linear-gradient(
    45deg,
    var(--color-primary-200),
     var(--color-primary-700)
  );
}
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
   
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 9999; 
  
}

.back {
  transform: rotateY(180deg);
  
}
 .shadowCustom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5;


}
  .shadowInner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
  
 
@media (min-width: 768px) {
 
 
.title {
  
  font-size: var(--size-8);
  margin: var(--size-4) 0;
  color: var(--color-grey-50);
}

.text {
  font-size: var(--size-4);
  color: var(--color-grey-50 );
  width: 90%;
  max-width: 40rem;
  padding-bottom: 20px;
  margin: auto;
}
.heroSection {
   position: absolute;
  bottom: -209px;
  left: 8%
}
.wrapper {
  width: 800px;
  background-color: inherit;
   padding: 120px;
   padding-top: 0px;
}
.cover {
  background-image: linear-gradient(45deg,   var(--color-primary-200)  0%, #096fb9 100%);
  position: relative;
  height: 540px;
  width: 420px;
    border: 4px solid black;
 
}

 
.coverz {
 
} 
 
.coverx {
  background-image: linear-gradient(
    45deg,
    var(--color-primary-200),
     var(--color-primary-700)
  );
}
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
   
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 9999; 
  
}

.back {
  transform: rotateY(180deg);
  
}
 .shadowCustom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5;


}
  .shadowInner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
  
}